<footer>
    <address>
        <h3>Στοιχεία επικοινωνίας</h3>
        Τηλέφωνο: <a href="tel:+302610123456">2610123456</a><br>
        Email: <a href="mailto: up1066577@upnet.gr, up1066579@upnet.gr">omada18@upnet.gr</a><br>
        Τμήμα Ηλεκτρολόγων Μηχανικών & Τεχνολογίας Υπολογιστών <br>
        Πανεπιστήμιο Πατρών
    </address>

    <a href="https://www.upatras.gr" target="_blank">
        <img src="/images/up_logo.jpg" alt="Πανεπιστήμιο Πατρών" id="up_img">
    </a>

</footer>