<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Εφαρμογή εκδοτικού οίκου</title>
    <link rel="stylesheet" href="/style.css">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin=""> -->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <!-- <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/2436/2436636.png" type="image/x-icon"> -->
    <!-- <a href="https://www.flaticon.com/free-icons/book" title="book icons">Book icons created by Freepik - Flaticon</a> -->
    <meta name="theme-color" content="#006b6b">
    <script src="/script.js"></script>
    <script src="https://kit.fontawesome.com/572c0354f8.js" crossorigin="anonymous"></script>
    {{!-- <script src="https://app.simplefileupload.com/buckets/63466f1d0d38f71089cab37cfeed28e7.js"></script> --}}
</head>