html {
    font-size: 10px;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

header {
    margin: 0 auto;
    color: rgb(0, 0, 0);

}

.signin-form {
    display: none;
    position: fixed;
    top: 40%;
    left: 40%;
    z-index: 200;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 1em;
}

#dim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

nav a {
    color: antiquewhite;
    font-size: 2rem;
    text-decoration: none;
}

nav {
    background-color: #006b6b;
    padding: 0.5em;
    position: sticky;
    top: 0;

}

nav ul {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    max-width: 1080px;
}

.dropmenu .dropdwnbtn {
    color: antiquewhite;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #006b6b;
    z-index: 1;
    border-radius: 0 0 0.5em 0.5em;
}

.dropmenu:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    width: max-content;
    text-align: center;
    text-decoration: none;
    margin: 0.25em 0.1em;
    padding: 0.25em;
    text-align: center;
}

body {
    font-size: 2em;
    margin: 0;
}

.featured {
    margin: 0 auto;
    width: 100%;
    height: 30em;
    background-color: rgb(255, 216, 216);
    display: flex;
}

.featured img {
    height: 80%;
    padding: 0.5em;
}

.featured .featured-description {
    text-align: center;
    margin: 0;
    padding: 0.5em;
}

footer,
footer a {
    background-color: #002c2c;
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.5em;
}

footer a:hover {
    text-decoration: inherit;
}


address {
    padding-left: 3em;
    font-style: normal;

}

.img1 {
    width: 30em;
}