<!DOCTYPE html>
<html lang="el">

{{>head}}

<div class="signin-form" id="sign-in">
    <form action="/auth" method="post">
        <h2>Σύνδεση Χρήστη</h2>
        <input type="email" name="email" id="email-signin" placeholder="Διεύθυνση email" required
            autocomplete="username">
        <br>
        <input type="password" name="password" id="pwd" placeholder="Κωδικός πρόσβασης" required
            autocomplete="current-password">
        <br>
        <button type="submit">Σύνδεση</button>
        <button type="button" onclick="closeForm()">Ακύρωση</button>
        <br><br>
        <a href="">Ξέχασα τον κωδικό μου</a>

    </form>
</div>

<body>
    <header>

        <h1 style="text-align: center;">Καλωσορίσατε στον εκδοτικό οίκο "Ομάδα 18"!</h1>

    </header>

    <div id="dim"></div>

    <div class="search-bar" id="search-bar">
         <form action="/search" method="get" id="search">
            <input type="text" name="term" id='term' placeholder="Αναζήτηση">
            <br>
            <button type="submit" name="searchbutton">Αναζήτηση</button>
            <button type="button" onclick="closeSearch()">Άκυρο</button>
        </form>
    </div>

    <!-- <div class="search-bar">
        <input type="book-search" placeholder="Αναζήτηση">
        <button type="submit">&#x1F50E;&#xFE0E;</button>
    </div> -->

    <!-- navigation bar για περιήγηση στις διάφορες υποσελίδες -->

    <nav>
        <ul>
            <li><a href="/">Αρχική σελίδα</a> </li>
            <li>
                <div class="dropmenu"><button class="dropdwnbtn">Κατηγορίες βιβλίων</button>
                    <div class="dropdown-content">
                        <a href="/category/Ελληνική Λογοτεχνία">Ελληνική Λογοτεχνία</a>
                        <a href="/category/Ξένη Λογοτεχνία">Ξένη Λογοτεχνία</a>
                        <a href="/category/Αυτοβελτίωση">Αυτοβελτίωση</a>
                        <a href="/category/Πανεπιστημιακά Συγγράματα">Πανεπιστημιακά Συγγράμματα</a>
                        <a href="/category/Επιστημονικά Βιβλία">Επιστημονικά Βιβλία</a>
                    </div>
                </div>
            </li>
            <li> <a href="/latest">Νέες κυκλοφορίες</a></li>
            <li> <a href="/best-sellers">Best Sellers</a></li>
            <li>
                <div class="dropmenu"> <button class="dropdwnbtn">Λογαριασμός</button>
                    <div class="dropdown-content">
                        <a href="/signup" class="nav-button">Εγγραφή</a>
                        <a href="javascript:popupForm()">Σύνδεση</a>
                        <a href="">Διαχείριση Λογαριασμού</a>
                    </div>
                </div>
            </li>
            <li> <a href="/publish">Έκδοσε το έργο σου</a></li>
            <li><button class="searchbtn" type="search-icon" onclick="popupSearch()"><i
                        class="fa-solid fa-magnifying-glass"></i></button></li>
        </ul>
    </nav>

    {{{body}}}
</body>

{{>footer}}

</html>