<!DOCTYPE html>
<html lang="el">

{{>head}}

<body>
    <header>

        <h1 style="text-align: center;">Καλωσορίσατε στον εκδοτικό οίκο "Ομάδα 18"!</h1>

    </header>

    <div id="dim"></div>

    <div class="search-bar" id="search-bar">
        <form action="" method="get">
            <input type="text" placeholder="Αναζήτηση">
            <br>
            <button type="submit">Αναζήτηση</button>
            <button type="button" onclick="closeSearch()">Άκυρο</button>
        </form>
    </div>

    <!-- <div class="search-bar">
        <input type="book-search" placeholder="Αναζήτηση">
        <button type="submit">&#x1F50E;&#xFE0E;</button>
    </div> -->

    <!-- navigation bar για περιήγηση στις διάφορες υποσελίδες -->

    <nav>
        <ul>
            <li><a href="/">Αρχική σελίδα</a> </li>
            <li>
                <div class="dropmenu"><button class="dropdwnbtn">Κατηγορίες βιβλίων</button>
                    <div class="dropdown-content">
                        <a href="/results">Ελληνική Λογοτεχνία</a>
                        <a href="/results/Ξένη Λογοτεχνία">Ξένη Λογοτεχνία</a>
                        <a href="">Παιδικά βιβλία</a>
                        <a href="">Πανεπιστημιακά συγγράμματα</a>
                        <a href="">Επιστημονικά βιβλία</a>
                    </div>
                </div>
            </li>
            <li> <a href="">Νέες κυκλοφορίες</a></li>
            <li> <a href="/best-sellers">Best Sellers</a></li>
            <li>
                <div class="dropmenu"> <button class="dropdwnbtn">Λογαριασμός</button>
                    <div class="dropdown-content">
                        <a href="/logout" class="nav-button">Αποσύνδεση</a>
                        <a href="">Διαχείριση Λογαριασμού</a>
                    </div>
                </div>
            </li>
            <li> <a href="/publish">Έκδοσε το έργο σου</a></li>
            <li><button class="searchbtn" type="search-icon" onclick="popupSearch()"><i
                        class="fa-solid fa-magnifying-glass"></i></button></li>
        </ul>
    </nav>

    {{{body}}}
</body>

{{>footer}}

</html>