{{!-- <h1>Admin dashboard</h1> --}}
<div class="admin">
    <h2>Αιτήματα εκδόσεων έργων</h2>
    <div class="requests">

        <div id="pending" class="draft-column">
            <h3>Εκκρεμή</h3>
            <ul>
                {{#each drafts}}
                {{#unless is_reviewed}}
                {{> draft-partial title=title normal_title=normal_title}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div id="accepted" class="draft-column">
            <h3>Εγκεκριμένα</h3>
            <ul>
                {{#each drafts}}
                {{#if is_accepted}}
                {{> draft-partial title=title normal_title=normal_title}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
        <div id="rejected" class="draft-column">
            <h3>Απορριφθέντα</h3>
            <ul>
                {{#each drafts}}
                {{#unless is_accepted}}
                {{#if is_reviewed}}
                {{> draft-partial title=title normal_title=normal_title}}
                {{/if}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>