<h1>Admin dashboard</h1>

<h2>Αιτήματα εκδώσεων έργων</h2>
<div class="requests">
    <div id="pending">
        <h3>Εκκρεμή</h3>
        <a href="request1.html">
            <ul>
                <li>Χαλαντζούκας Φοίβος</li>
                <li>Ο τελευταίος πιστός</li>
                <li>Ημ.: 13/2</li>
            </ul>
        </a><a href="">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </a><a href="">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </a><a href="">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </a><a href="">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </a>
    </div>
    <div id="accepted">
        <h3>Εγκεκριμένα</h3>
        <a href="">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </a><a href="">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </a><a href="">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </a><a href="">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </a>
    </div>
    <div id="rejected">
        <h3>Απορριφθέντα</h3>
        <a href="">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </a><a href="">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </a><a href="">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </a><a href="">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </a>
    </div>
</div>