<h2 style="text-align: center;"> Best Sellers</h2>


<div class="best-sellers-list">
    <div class="filters">
        <a id="testtext">filters test</a>
    </div>


    <div class="best-sellers">


        <div class="best-seller">
            <a href="pros-ta-astra.html">
                <img src="images/pros-ta-astra.webp" alt="Προς τ'άστρα">
                <h3>Προς τ' άστρα</h3>
            </a>
        </div>
        <div class="best-seller">
            <img src="images/the_subtle_art.jpeg" alt="The Subtle Art of not Giving a F*ck">
            <h3>The Subtle Art of not Giving a F*ck</h3>
        </div>
        <div class="best-seller">
            <img src="images/sasmos.jpeg" alt="Σασμός">
            <h3>Σασμός</h3>
        </div>
        <div class="best-seller">
            <img src="images/ugly_love.jpeg" alt="Ugly Love">
            <h3>Ugly Love</h3>
        </div>
        <div class="best-seller">
            <img src="images/it_ends_with_us.jpeg" alt="It Ends With Us">
            <h3>It Ends With Us</h3>
        </div>
        <div class="best-seller">
            <img src="images/to_dwro.jpeg" alt="Το Δώρο">
            <h3>Το Δώρο</h3>
        </div>
        <div class="best-seller">
            <img src="images/to_vivlio_pou_tha_itheles.jpeg"
                alt="Το βιβλίο που θα ήθελες να είχαν διαβάσει οι γονείς σου">
            <h3>Το βιβλίο που θα ήθελες να είχαν διαβάσει οι γονείς σου</h3>
        </div>
        <div class="best-seller">
            <img src="images/to_peirama.jpeg" alt="Το Πείραμα">
            <h3>Το Πείραμα</h3>
        </div>


    </div>
</div>