<h2 style="text-align: center;">{{page_title}}</h2>


<div class="books-list-category">

    <div class="book-results">

    {{#each books}}
        {{> book-partial title=title normal_title=normal_title}}
    {{/each}}



    </div>
</div>