<!-- Section όπου θα φαίνεται/ονται νέες κυκλοφορίες που θέλουμε να δει ο επισκέπτης -->

<div class="featured">

    <a href="/book/python">
        <img src="/images/python.jpg" alt="book_cover">

        <div class="featured-description">
            <h2>Νέα κυκλοφορία: Εισαγωγή στους υπολογιστές</h2>
            <p>
                Ανακαλύψτε τώρα την 4η έκδοση του πολυβραβευμένου συγγράμματος! Κάντε τα πρώτα σας βήματα στον
                προγραμματισμό, ερχόμενοι σε επαφή με την γλώσσα Python.
            </p>
    </a>
</div>

</div>

<h2 style="text-align: center;"> Best Sellers</h2>

<div class="best-sellers">

    {{!-- {{> book-partial title = 'pros-ta-astra' normal-title="Προς τ'άστρα"}}
    {{> book-partial title = 'the-subtle-art'}}
    {{> book-partial title = 'sasmos'}}
    {{> book-partial title = 'ugly-love'}}
    {{> book-partial title = 'it-ends-with-us'}}
    {{> book-partial title = 'to-dwro'}}
    {{> book-partial title = 'to-vivlio-pou'}} --}}
    {{#each books}}
    {{> book-partial titlos=titlos normal_titlos=normal_titlos}}
    {{!-- <div class="best-seller">
        <a href="/book/{{titlos}}">
            <img src="/images/{{titlos}}.jpg" alt="{{normal_titlos}}">
            <h3>{{normal_titlos}}</h3>
        </a> --}}
        {{/each}}
    </div>

    <!-- <div class="best-seller">
            <img src="/images/to_peirama.jpeg" alt="Το Πείραμα">
            <h3>Το Πείραμα</h3>
        </div> -->


</div>