<!-- Section όπου θα φαίνεται/ονται νέες κυκλοφορίες που θέλουμε να δει ο επισκέπτης -->

<div class="featured">

    <a href="/book/python">
        <img src="https://cdn-q97f9tl4.files-simplefileupload.com/static/blobs/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaWV3IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--13ac6075fd50ddb17f8fd975f22bc6be017ff3b8/python.jpg"
            alt="book_cover">

        <div class="featured-description">
            <h2>Νέα κυκλοφορία: Εισαγωγή στους υπολογιστές</h2>
            <p>
                Ανακαλύψτε τώρα την 4η έκδοση του πολυβραβευμένου συγγράμματος! Κάντε τα πρώτα σας βήματα στον
                προγραμματισμό, ερχόμενοι σε επαφή με την γλώσσα Python.
            </p>
    </a>
</div>

</div>

<h2 style="text-align: center;"> Best Sellers</h2>

<div class="best-sellers">

    {{#each books}}
    {{> book-partial title=title normal_title=normal_title cover=cover}}

    {{/each}}
</div>



</div>