<!-- Section όπου θα φαίνεται/ονται νέες κυκλοφορίες που θέλουμε να δει ο επισκέπτης -->

<div class="featured">

    <a href="/book/python">
        <img src="https://res.cloudinary.com/dqqqyuw7g/image/upload/v1750205811/python_vjhky2.jpg"
            alt="book_cover">

        <div class="featured-description">
            <h2>Νέα κυκλοφορία: Εισαγωγή στους υπολογιστές</h2>
            <p>
                Ανακαλύψτε τώρα την 4η έκδοση του πολυβραβευμένου συγγράμματος! Κάντε τα πρώτα σας βήματα στον
                προγραμματισμό, ερχόμενοι σε επαφή με την γλώσσα Python.
            </p>
    </a>
</div>

</div>

<h2 style="text-align: center;"> Best Sellers</h2>

<div class="best-sellers">

    {{#each books}}
    {{> book-partial title=title normal_title=normal_title cover=cover}}

    {{/each}}
</div>



</div>