<div class="users-list">
    <fieldset>
<h2>Λίστα χρηστών</h2>
<div class="users">
    
            <ul>
            {{#each user}}
                <li><a href="/editprofile/{{afm}}">{{name}}</a></li>
            {{/each}}
            </ul>

</div>
</fieldset>
</div>