<div class="form-container">
    <form action="" method="get" id="login">
        <br><br>
        <h2>Σύνδεση</h2>
        Email <br>
        <input type="email" required placeholder="Email" autocomplete="email"><br>
        Κωδικός πρόσβασης <br>
        <input type="password" id="pwd" required placeholder="Κωδικός πρόσβασης" autocomplete="new-password"><br>
        <br><br><br>
        <button type="submit" value="submit" id="submit">Υποβολή</button>
    </form>
</div>