<div class="form-container">
    <form action="/auth" method="post" id="login">
        <br><br>
        <h2>Σύνδεση</h2>
        Email <br>
        <input type="email" id='email' name='email' required placeholder="Email" autocomplete="email"><br>
        Κωδικός πρόσβασης <br>
        <input type="password" id="pwd" name='password' required placeholder="Κωδικός πρόσβασης" autocomplete="new-password"><br>
        <br><br><br>
        <button type="submit" value="submit" id="submit">Υποβολή</button>
    </form>
</div>