<div class="form-container">
    <form action="/upload" method="post" id="publish" enctype="multipart/form-data">
        <h2>Έκδοσε το δικό σου βιβλίο</h2>
        Τίτλος<br>
        <input type="text" name="title" required placeholder="Τίτλος"><br>
        <label for="category">Επιλογή κατηγορίας:</label><br>
        <select name="category" id="category">
            <option value="Ξένη Λογοτεχνία">Ξένη Λογοτεχνία</option>
            <option value="Ελληνική Λογοτεχνία">Ελληνική Λογοτεχνία</option>
            <option value="Αυτοβελτίωση">Αυτοβελτίωση</option>
            <option value="Επιστημονικά Βιβλία">Επιστημονικά Βιβλία</option>
            <option value="Πανεπιστημιακά Συγγράματα">Πανεπιστημιακά Συγγράματα</option>
        </select><br>
        Αριθμός Λέξεων<br>
        <input type="number" id="word-sum" name="wordsum" required placeholder='50000' , min="1000" , max="100000" ,
            step="1000"><br>
        Περίληψη<br>
        {{!-- <input class="simple-file-upload" data-preview="true" id="abstract" name="abstract" data-accepted=".pdf"
            data-maxFileSize="2" required><br> --}}
        Σύντομη Ανάλυση του περιεχομένου (2-3 σελίδες)<br>
        {{!-- <input class="simple-file-upload" data-preview="true" id="analysis" name="analysis" data-accepted=".pdf"
            data-maxFileSize="2" required><br> --}}
        Ενδεικτικό απόσπασμα<br>
        {{!-- <input class="simple-file-upload" data-preview="true" id="snippet" name="snippet" data-accepted=".pdf"
            data-maxFileSize="2" required><br> --}}
        Σχόλια <br>
        <textarea id="comments" name="comments" rows="5" placeholder="Σχόλια (προαιρετικά)"></textarea>
        <br>
        {{#if message}}
        <div class="success-message" role="alert">
            {{message}}
        </div>
        {{/if}}<br>
        <button type="submit" value="submit" id="submit">Υποβολή</button>
    </form>
</div>

<script src="publish_script.js"></script>