<div class="form-container">
    <form action="/upload" method="post" id="publish" enctype="multipart/form-data">
        <h2>Έκδοσε το δικό σου βιβλίο</h2>
        Τίτλος<br>
        <input type="text" name="title" required placeholder="Τίτλος"><br>
        Κατηγορία/Θεματική ενότητα<br>
        <input type="text" name='category' required placeholder="Κατηγορία"><br>
        Αριθμός Λέξεων<br>
        <input type="number" id="page-sum" name="page-sum" required placeholder='50000' , min="1000" , max="100000" , step="1000"><br>
        Περίληψη<br>
        <input type="file" id="summary" name="summary" accept=".pdf" required><br>
        Σύντομη Ανάλυση του περιεχομένου (2-3 σελίδες)<br>
        <input type="file" id="analysis" name="analysis" accept=".pdf" required><br>
        Ενδεικτικό απόσπασμα<br>
        <input type="file" id="chapter" name="chapter" accept=".pdf" required><br>
        Σχόλια <br>
        <textarea id="comments" name="comments" rows="5" placeholder="Σχόλια (προαιρετικά)"></textarea>
        <br><br><br>
        <button type="submit" value="submit" id="submit">Υποβολή</button>
    </form>
</div>