<div class="form-container">
    <form action="" method="get" id="signup">
        <h2>Δημιουργία Λογαριασμού</h2>
        Όνομα<br>
        <input type="text" required placeholder="Όνομα"><br>
        Επώνυμο <br>
        <input type="text" required placeholder="Επώνυμο"><br>
        Ημερομηνία Γέννησης <br>
        <input type="date" name="dob" id="dob" required placeholder="Ημ. Γέννησης" autocomplete="bday"><br>
        Τηλέφωνο <br>
        <input type="tel" required placeholder="Τηλέφωνο" autocomplete="tel"><br>
        Διεύθυνση<br>
        <input type="address" name="address" id="address" required placeholder="Οδός & Αριθμός"
            autocomplete="street-address"><br>
        Πόλη<br>
        <input type="city" placeholder="Πόλη" required><br>
        Email <br>
        <input type="email" required placeholder="Email" autocomplete="email"><br>
        Κωδικός πρόσβασης <br>
        <input type="password" id="pwd" required placeholder="Κωδικός πρόσβασης" autocomplete="new-password"><br>
        Επιβεβαίωση κωδικού πρόσβασης <br>
        <input type="password" id="repeat-pwd" required placeholder="Επιβεβαίωση κωδικού πρόσβασης"
            autocomplete="new-password">
        <br><br><br>
        <button type="submit" value="submit" id="submit">Υποβολή</button>
    </form>
</div>